
<app-hero-search></app-hero-search>

<h3>Top Heroes</h3>

<div class="row">
  <div class="col-sm-4" *ngFor="let hero of heroes">
 <div  class="card" style="width:180px; height:280px">
  <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <b class="card-title">{{hero.name}}</b>
      <a routerLink="/detail/{{hero.id}}" class="btn btn-primary">See Profile</a>
    </div>
 </div>


  </div>
  
</div>
