/* Application-wide Styles */
h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 230%;
  margin-top: 25px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{

color:#fff;
text-decoration: none;

}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
ul {
  list-style-type: none;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
button.btn{

  margin: 0 0 30px 30px;

}